<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Preferences Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5 mb-5 border p-4">
        <h2 class="mb-4">User Preferences</h2>

        <form class="mt-4">
            <div class="form-group mb-3">
                <label>Preferred Cleaning Days:</label>
                <div *ngFor="let day of daysOfWeekOptions" class="form-check">
                    <input class="form-check-input" type="checkbox" [id]="day.value"
                        [checked]="selectedDayOfTheWeekOptions.includes(day.value)"
                        (change)="toggleDaySelection(day.value)">
                    <label class="form-check-label" [for]="day.value">
                        {{ day.key }}
                    </label>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="preferredCleaningFrequency">Preferred Cleaning Frequency:</label>
                <select class="form-control" id="preferredCleaningFrequency"
                    [(ngModel)]="selectedCleaningFrequencyOptions" name="cleaningFrequency">
                    <option *ngFor="let frequency of cleaningFrequencyOptions" [value]="frequency.value">
                        {{ frequency.key }}
                    </option>
                </select>
            </div>

            <label>Add your rooms:</label>
            <form [formGroup]="myForm" class="mt-4">
                <div formArrayName="rooms">
                  <div *ngFor="let room of rooms.controls; let i = index" [formGroupName]="i">
                    <div class="card mb-3" style="background-color: #f8f9fa;">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="roomName{{ i }}">Room Name:</label>
                          <input formControlName="room" type="text" class="form-control" id="roomName{{ i }}" placeholder="Room Name">
                          <small *ngIf="room.get('room')?.hasError('required')" class="text-danger">Room Name is required.</small>
                        </div>
            
                        <div class="form-group">
                          <label for="roomSize{{ i }}">Room Size:</label>
                          <select formControlName="roomSize" class="form-control" id="roomSize{{ i }}">
                              <option *ngFor="let size of roomSizeOptions" [value]="size.value">
                                  {{ size.key }}
                              </option>
                          </select>
                          <small *ngIf="room.get('roomSize')?.hasError('required')" class="text-danger">Room Size is required.</small>
                      </div>
            
                        <div class="form-group">
                          <label for="surfaceType{{ i }}">Surface Type:</label>
                          <select formControlName="surfaceType" class="form-control" id="surfaceType{{ i }}">
                              <option *ngFor="let surfaceType of surfacedTypeOptions" [value]="surfaceType.value">
                                  {{ surfaceType.key }}
                              </option>
                          </select>
                          <small *ngIf="room.get('surfaceType')?.hasError('required')" class="text-danger">Surface Type is required.</small>
                      </div>
            
                      <div class="form-group">
                        <label for="usageFrequency{{ i }}">Usage Frequency:</label>
                        <select formControlName="usageFrequency" class="form-control" id="usageFrequency{{ i }}">
                            <option *ngFor="let frequency of usageFrequencyOptions" [value]="frequency.value">
                                {{ frequency.key }}
                            </option>
                        </select>
                        <small *ngIf="room.get('usageFrequency')?.hasError('required')" class="text-danger">Usage Frequency is required.</small>
                    </div>
                    
            
                        <div class="form-group">
                          <label for="numberOfOccupants{{ i }}">Number of Occupants:</label>
                          <input formControlName="numberOfOccupants" type="number" class="form-control" id="numberOfOccupants{{ i }}" placeholder="Number of Occupants">
                          <small *ngIf="room.get('numberOfOccupants')?.hasError('required')" class="text-danger">Number of Occupants is required.</small>
                        </div>
            
                        <button class="btn btn-outline-danger" type="button" (click)="removeRoom(i)">Remove Room</button>
                      </div>
                    </div>
                  </div>
                </div>
            
                <button class="btn btn-primary" type="button" (click)="addRoom()">Add Room</button>
              </form>
              <div></div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="pets" [(ngModel)]="userPreferences.pets"
                    name="pets" />
                <label class="form-check-label" for="pets">Do you have pets?</label>
            </div>

            <div class="form-check mb-4">
                <input type="checkbox" class="form-check-input" id="allergies" [(ngModel)]="userPreferences.allergies"
                    name="allergies" />
                <label class="form-check-label" for="allergies">Do you have allergies?</label>
            </div>

            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save Preferences</button>
            <button class="close" (click)="close()">Close</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>