.container {
  max-width: 700px;
  margin-top: 50px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.btn-custom {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-custom:hover {
  background-color: #0056b3;
}

label {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.button-spacing {
  margin-left: 10px;
}

.buttons{
  text-align: center;
  padding: auto !important;
  margin: auto !important;
}