<div class="container">
  <h2>Feedback</h2>

  <div *ngIf="showForm">
    <form id="feedbackForm" #feedbackForm="ngForm" (ngSubmit)="saveFeedback()" novalidate>
      <div class="form-group">
        <label for="selectCleaningType">Select Room:</label>
        <select class="form-control" required [(ngModel)]="selectedCleaningType" name="cleaningType"
          #cleaningType="ngModel">
          <option value="" disabled selected>Select an option</option>
          <option *ngFor="let option of optionList" [value]="option.cleaningHistoryId">
            {{ option.userRoomName + " - " + (option.cleaningDate | date: 'yyyy-MM-dd') }}
          </option>
        </select>
        <div [hidden]="cleaningType.valid || cleaningType.pristine" class="alert alert-danger">
          Room selection is required.
        </div>
      </div>

      <div class="form-group">
        <label for="selectFeedbackType">Feedback Type:</label>
        <select class="form-control" required [(ngModel)]="selectedFeedbackType" name="feedbackType"
          #feedbackType="ngModel">
          <option value="" disabled selected>Select an option</option>
          <option *ngFor="let type of feedbackTypeOptions" [value]="type.value">
            {{ type.key }}
          </option>
        </select>
        <div [hidden]="feedbackType.valid || feedbackType.pristine" class="alert alert-danger">
          Feedback type is required.
        </div>
      </div>

      <div class="form-group">
        <label for="rating">Rating (1-10):</label>
        <input type="number" class="form-control" id="rating" min="1" max="10" placeholder="Enter rating" required
          [(ngModel)]="rating" name="rating" #refRating="ngModel">
        <div [hidden]="refRating.valid || refRating.pristine" class="alert alert-danger">
          Rating is required and must be between 1 and 10.
        </div>
      </div>

      <div class="form-group">
        <label for="text">Feedback Text (optional):</label>
        <textarea class="form-control" id="text" rows="3" placeholder="Enter feedback text" [(ngModel)]="feedbackText"
          name="feedbackText"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-custom" [disabled]="!feedbackForm.valid || isSubmitting">
          Submit Feedback
        </button>

        <!-- Adding spacing between the buttons -->
        <span class="button-spacing"></span>

        <button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>

        <!-- Button to submit another feedback (conditionally displayed) -->
        <button *ngIf="!showForm" type="button" class="btn btn-success" (click)="submitAnotherFeedback()">
          Submit Another Feedback
        </button>

      </div>
    </form>

    <div *ngIf="isSubmitting" class="alert alert-info">
      Please wait, submitting feedback...
    </div>
  </div>
</div>
