.container {
    max-width: 600px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
    background-color: #007bff;
    color: white;
    font-size: 20px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.alert-danger {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-primary:disabled {
    background-color: #007bff;
}

.buttons{
    text-align: center;
    padding: auto !important;
    margin: auto !important;
}

.button-spacing {
    margin-left: 10px;
  }