<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Cleaning Details
        </div>
        <div class="card-body p-4">
            <form #myForm="ngForm" (ngSubmit)="handleSubmit(myForm)" novalidate class="mt-4 mb-4">

                <div class="form-group mb-4">
                    <label for="completionStatus" class="form-label">Completion:</label>
                    <select class="form-select" id="completionStatus" [(ngModel)]="completionStatus"
                        name="completionStatus" required #completionStatusModel="ngModel">
                        <option value="" disabled selected>Select a status</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <div *ngIf="completionStatusModel.invalid && completionStatusModel.touched"
                        class="alert alert-danger mt-2">
                        Completion status is required.
                    </div>
                </div>

                <div class="form-group mb-4">
                    <label for="cleaningQuality" class="form-label">Cleaning Quality:</label>
                    <select class="form-select" id="cleaningQuality" [(ngModel)]="selectedCleaningQuality"
                        name="cleaningQuality" required #cleaningQualityModel="ngModel">
                        <option *ngFor="let surfaceType of cleaningQualityOptions" [value]="surfaceType.value">
                            {{ surfaceType.key }}
                        </option>
                    </select>
                    <div *ngIf="cleaningQualityModel.invalid && cleaningQualityModel.touched"
                        class="alert alert-danger mt-2">
                        Cleaning Quality is required.
                    </div>
                </div>

                <div class="form-group mb-4">
                    <label for="cleaningMinutes" class="form-label">Cleaning Minutes:</label>
                    <input type="number" class="form-control" id="cleaningMinutes" [(ngModel)]="cleaningMinutes"
                           name="cleaningMinutes" required #cleaningMinutesModel="ngModel"
                           placeholder="Enter cleaning minutes" min="1">
                    <div *ngIf="cleaningMinutesModel.invalid && cleaningMinutesModel.touched || cleaningMinutes == 0"
                         class="alert alert-danger mt-2">
                         Cleaning minutes must be greater than 0.
                    </div>
                </div>

                <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!myForm.valid">Submit</button>
                    <button type="button" class="btn btn-secondary btn-lg" (click)="handleCancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>