<div class="container mt-5">
  <ng-container *ngIf="showWaitingMessage">
    <div class="message text-center mt-3">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p class="mt-2">Please wait...</p>
    </div>
  </ng-container>

  <div *ngIf="!showWaitingMessage"  class="card shadow-lg rounded">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Cleaning Details</h3>
    </div>
    <div class="card-body p-4">
      <form #myForm="ngForm" (ngSubmit)="handleSubmit(myForm)" novalidate class="mt-4 mb-4">

        <div class="mb-4">
          <label for="completionStatus" class="form-label">Completion:</label>
          <select class="form-select custom-select" id="completionStatus" [(ngModel)]="completionStatus"
            name="completionStatus" required #completionStatusModel="ngModel">
            <option value="" disabled selected>Select a status</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <div *ngIf="completionStatusModel.invalid && completionStatusModel.touched" class="text-danger mt-2">
            Completion status is required.
          </div>
        </div>

        <div *ngIf="completionStatus === 'yes'" class="mb-4">
          <label for="cleaningQuality" class="form-label">Cleaning Quality:</label>
          <select class="form-select custom-select" id="cleaningQuality" [(ngModel)]="selectedCleaningQuality"
            name="cleaningQuality" required #cleaningQualityModel="ngModel">
            <option *ngFor="let surfaceType of cleaningQualityOptions" [value]="surfaceType.value">
              {{ surfaceType.key }}
            </option>
          </select>
          <div *ngIf="cleaningQualityModel.invalid && cleaningQualityModel.touched" class="text-danger mt-2">
            Cleaning Quality is required.
          </div>
        </div>

        <div *ngIf="completionStatus === 'yes'" class="mb-4">
          <label for="cleaningMinutes" class="form-label">Cleaning Minutes:</label>
          <input type="number" class="form-control" id="cleaningMinutes" [(ngModel)]="cleaningMinutes"
            name="cleaningMinutes" required #cleaningMinutesModel="ngModel" placeholder="Enter cleaning minutes"
            min="1">
          <div *ngIf="cleaningMinutesModel.invalid && cleaningMinutesModel.touched" class="text-danger mt-2">
            Cleaning minutes must be greater than 0.
          </div>
        </div>

        <div class="row buttons">
          <div class="col-md-12">
            <button type="button" class="btn btn-secondary" (click)="handleCancel()">Cancel</button>

            <span class="button-spacing"></span>

            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>