<div class="container">
    <h1>Contact Information</h1>

    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Telephone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Company A</td>
                <td>(123) 456-7890</td>
            </tr>
            <tr>
                <td>Company B</td>
                <td>(456) 789-0123</td>
            </tr>
            <tr>
                <td>Company C</td>
                <td>(789) 012-3456</td>
            </tr>
        </tbody>
    </table>

    <div class="button-container">
        <button class="send" (click)="openEmail()">Send Email</button>
        <button class="close" (click)="close()">Close</button>
    </div>
</div>