<div class="container mt-5">
  <ng-container *ngIf="loading">
    <div class="message text-center mt-3">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p class="mt-2">Please wait...</p>
    </div>
  </ng-container>
  <div class="row" *ngIf="!loading">
    <div *ngFor="let subscription of subscriptions" class="col-lg-4 col-md-6 mb-4">
      <div *ngIf="!loading" class="card subscription-box shadow-lg">
        <div class="card-header" [ngClass]="'bg-package' + (subscription.name | slice:-1)">
          <h3 class="m-0">{{ subscription.name }}</h3>
        </div>
        <div class="card-body">
          <p class="card-text mb-2">Price: ${{ subscription.price }}/month</p>
          <p class="card-text mb-2">Sensor Availability:
            <span [ngClass]="{'text-success': subscription.sensorsIncluded, 'text-danger': !subscription.sensorsIncluded}">
              {{ subscription.sensorsIncluded ? 'True' : 'False' }}
            </span>
          </p>
          <p class="card-text mb-2">Duration: {{ subscription.durationInDays }} days</p>
          <p class="card-text mb-4">Description: {{ subscription.description || 'N/A' }}</p>
          <button class="btn btn-primary w-100" [disabled]="userId == '' || userSubId === subscription.id" (click)="subscribe(subscription)">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
