<div class="jumbotron text-center">
  <h1 class="display-3">Welcome to PureLogic Cleaner App</h1>
  <p class="lead">Discover the greatness within our application.</p>
  <hr class="my-4">
  <p>Start exploring and enjoy the journey!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 feature-box">
      <i class="fas fa-cogs"></i>
      <h3>Feature 1</h3>
      <p>Check your AI recommended schedules!</p>
    </div>
    <div class="col-md-4 feature-box">
      <i class="fas fa-mobile-alt"></i>
      <h3>Feature 2</h3>
      <p>Provide deverse feedbacks!</p>
    </div>
    <div class="col-md-4 feature-box">
      <i class="fas fa-chart-bar"></i>
      <h3>Feature 3</h3>
      <p>View your cleaning statistic!</p>
    </div>
  </div>
</div>